body {
    margin: 0;
}

* {
    font-family: Verdana;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

.i-form {
    padding: 1rem;
}

.i-form-group:not(:first-child) {
    margin-top: 1.5rem;
}

.i-form-input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-form-input-container .i-form-input {
    padding-right: 2.8rem !important;
}

.i-form-icon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: grey;
    display: flex;
    z-index: 5;
}

.i-form-label {
    display: block;
    margin-bottom: .5rem;
    font-size: 13px;
    cursor: pointer;
}

.i-form-label-required-sign {
    color: red;
}

.i-form-input {
    width: 100%;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid rgb(172, 172, 172);
    padding: .7rem 1rem;
}

.i-form-input:focus {
    border-color: blue;
}

.i-form-group.i-form-required-error input,
.i-form-group.i-form-range-error input,
.i-form-group.i-form-confirmation-error input,
.i-form-group.i-form-regexp-error input {
    border-color: red;
}

.i-form-error {
    display: none;
    color: red;
    margin: .5rem 0 0;
    font-size: 12px;
}

.i-form-group.i-form-required-error .i-form-required-mes {
    display: block;
}

.i-form-group.i-form-range-error .i-form-range-mes {
    display: block;
}

.i-form-group.i-form-confirmation-error .i-form-confirmation-mes {
    display: block;
}

.i-form-group.i-form-regexp-error .i-form-regexp-mes {
    display: block;
}

.i-form-btn {
    padding: .8rem 1rem;
    border-radius: 5px;
    background-color: red;
    text-align: center;
    width: 100%;
    border: 0;
    color: white;
    cursor: pointer;
}

.i-form-btn.i-form-submit {
    background-color: blue;
}

.i-form-btn.i-form-disabled {
    cursor: not-allowed;
    background-color: grey;
}